@{
    ViewData["Title"] = "Contact Us";
}

<h1 class="mb-4">Contact Us</h1>
<p>If you need any assistance, feel free to contact us via the following methods:</p>
<ul>
    <li>Email: support@shoesforfeet.com</li>
    <li>Phone: +123-456-7890</li>
</ul>