@model IEnumerable<ShoesForFeet.Models.Product>

<h2>Special Offers</h2>
<ul>
    @foreach (var product in Model)
    {
        <li>
            <a asp-action="Details" asp-route-id="@product.Id">@product.Name</a> - $@product.Price
        </li>
    }
</ul>