@{
    ViewData["Title"] = "Home";
}

<h1>Browse our selection and sign in</h1>
<p>We provide all types of shoes for any occasion</p>

<ul>
    <li><a href="/Product/List">Product Page</a></li>
    <li><a href="/User/Profile">User Page</a></li>
</ul>

<test link="https://example.com"></test> <!-- Uses the custom tag helper -->